html {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-size: 10px;
    font-family: sans-serif;
}

body{
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(117, 237, 241),rgb(119, 119, 235));
}

main {
    width: 100%;
    max-width: 40rem;
    background-color: aliceblue;
    border-radius: 10px;
    min-height: 6rem;
    padding:  3.2rem 2.4rem;
}

h1 {
    font-size: 2.3rem;
    margin: 0 0 1.2rem;
}
.todo-list-section{   /*seção com ul li */
    min-height: 5rem;
    & > ul{
        padding-inline-start: 0;
        height: 23rem;
        overflow: auto;
    }

    & > ul > li { /*lista com a div=input,label e button*/
        background-color: rgb(223, 222, 220);
        padding: 1rem;
        margin-bottom: 1rem;
        font-size: 2rem;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    & > ul > li:last-child {
        margin: 0;
    }
    & > ul > li> button {
        background-color: rgb(236, 124, 124);
        padding: 1.3rem;
        border:  none;
        border-radius: 10px;
        color: aliceblue;
        cursor: pointer;
        transition: 0.3s ;
        &:hover {
            background-color: brown;
        }
    }
}

.checkbox-label-conteiner { /*Div da labem e input e button*/
    display: flex;
    justify-content: center;
    align-items: center;

    & > label {
        cursor: pointer;
    }
    & > input { 
        margin-right: 1rem;
    }
}

#create-todo-form {
    display: flex;
    flex-direction: row;
    height: 4em;
}

.input-description {
    width: 100%;
    height: 100%;
    font-size: 1.7rem;
    margin-right: 1rem;
    border: solid 1px #646464;
    outline: none;

    &:focus {
        border:1px solid #5eb7f6;
    }
}

.add-task-btn{
    width: 4rem;
    height: 100%;
    border-radius: 10px;
    border: none;
    background-color: rgb(105, 201, 156);
    color: aliceblue;
    cursor: pointer;
    transition: 0.3s ;

    &:hover{
        opacity: .5;;
    }
}


footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.remove-done-tasks-btn {
    padding: 1em;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: cadetblue;
    color: aliceblue;
    transition: 0.3s;

    &:hover {
        opacity: .8;
        padding: 0.8em;
    }
}
